doctype html
html
  head 
    style
      include ./style.css
    style.
      @font-face {
      font-family: 'Roddenberry';
      src: url('/fonts/Roddenberry-DgLm.ttf') format('truetype')
      }
    title= title
  body 
    h1= title
    h1= message
    ul
      h3 base url: https://trek-characters-api.adaptable.app/api/v1/characters
      h2 sample queries
      li GET '/' -  get all characters
      li GET '/paginated?page=*number*&limit=*number*' - get paginated characters 
      li GET '/name/*name here*' - get a character by name
      li GET '/filter?name=*name or partial name*' - get all matching characters
      li GET '/filter?origin=*origin or partial origin*' - get all matching characters
      li GET '/filter?race=*race or partial race*' - get all matching characters
      li GET '/filter?affiliation=*affiliation or partial affiliation*' - get all matching characters
    h2(class='about') about the creator of this API: 
      a(href='https://jerud-moyer.dev/') jerud-moyer.dev
